DataFactoryFirst/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[uspGetProcessableBlobs]"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForeachItem",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set Blob path",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "blobPath",
								"value": "@{item().Path}"
							}
						},
						{
							"name": "Set blobName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "blobName",
								"value": "@{item().BlobName}"
							}
						},
						{
							"name": "Set Container",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Blob path",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set blobName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "container",
								"value": "@substring(item().Path, 0, indexof(item().Path, item().BlobName))"
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set Container",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"allowPolyBase": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Region",
												"type": "String"
											},
											"sink": {
												"name": "Region",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Plant",
												"type": "String"
											},
											"sink": {
												"name": "Plant",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DeviceId",
												"type": "String"
											},
											"sink": {
												"name": "DeviceId",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Temperature",
												"type": "String"
											},
											"sink": {
												"name": "Temperature",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "TemperatureDescription",
												"type": "String"
											},
											"sink": {
												"name": "TemperatureDescription",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Humidity",
												"type": "String"
											},
											"sink": {
												"name": "Humidity",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "RecordedTime",
												"type": "String"
											},
											"sink": {
												"name": "RecordedTime",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "DelimitedText1",
									"type": "DatasetReference",
									"parameters": {
										"path": {
											"value": "@variables('container')",
											"type": "Expression"
										},
										"name": {
											"value": "@variables('blobName')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSynapseAnalyticsTable1",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"blobPath": {
				"type": "String"
			},
			"blobName": {
				"type": "String"
			},
			"container": {
				"type": "String"
			}
		},
		"annotations": []
	}
}